.card {
  width: 238px;
  /* height: 150px; */
  /* background-image: url("https://images.unsplash.com/photo-1489674267075-cee793167910?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"); */
}

.card:hover{
  opacity: 0.3;
  background-color:black;
}
.cardText:hover{
  opacity: 0.3;
  color: white;
  font-weight: bold;

	/* filter: alpha(opacity=30); */
}
/* .cardText{
	display: ;
} */


.title {
  font-size: 14;
}
x.pos {
  margin-bottom: 12;
}
.flex {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.tag1{
  text-align: center;
  margin: 3% auto;
}

.halili {
  border: 1px solid grey;
}
