root {
  display: "flex";
  flex-wrap: "wrap";
}
.formControl {
  width: 50vh;
}
.kassem {
  width: -webkit-fill-available;
}
.textField {
  width: 350;
}
.container {
  display: "flex";
  flex-wrap: "wrap";
}